<h1>My Blog</h1>
<div class="flex gap-6 flex-col">
<% @blog_posts.each do |blog_post| %>
  <div class="p-6 rounded border border-gray-200">
    <% if blog_post.draft? %>
      <div class="bg-gray-100 text-gray-900 p-2">draft</div>
    <% end %>
  <%= image_tag blog_post.cover_image if blog_post.cover_image.present? %>
  <h2 class="py-2"><%= link_to blog_post.title, blog_post %></h2>
  <p><%= blog_post.content %></p>
  </div>
<% end %>
</div>

<% if @pagy.count > @pagy.limit %>
<%== pagy_nav(@pagy) %>
<% end %>
